@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body {
  background-color: #c0cfe9;
  color: #000;
  font: 15px/22px 'Titillium Web', Arial, Helvetica, sans-serif;
  min-width: 320px;
}

img {
  vertical-align: top;
}

a {
  transition: all 0.3s;
  color: #a51421;
}

a:hover {
  text-decoration: none;
  color: #000;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 8px;
  font-weight: 600;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.bg-box {
  background: #fff;
}

.btn {
  border-radius: 0;
}

.btn.btn-green {
  background-color: #9bb227;
  border: solid #9bb227 0px;
  font-size: 17px;
  line-height: 28x;
  color: #fff;
}

.custom-list {
  padding-left: 30px;
}

.custom-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.custom-list li:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 7px;
  overflow: hidden;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

.form-control:hover,.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

#header {
  background: #000;
  margin: 0;
  position: relative;
}

#header .phone-info {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 25px;
  width: 145px;
  text-align: right;
}

#header .phone-info img {
  float: left;
  margin-right: 8px;
}

#header .phone-info span {
  display: block;
  overflow: hidden;
  padding-top: 4px;
}

#nav {
  background: transparent;
  border-radius: 0;
  border: 0;
  height: auto;
  min-height: 155px;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

#nav a {
  color: #fff;
}

#nav a:hover,#nav a:focus {
  color: #a51421;
}

#nav .navbar-nav {
  padding-top: 90px;
}

#nav .navbar-toggle {
  margin-top: 90px;
  margin-bottom: 30px;
  border-color: #a51421;
}

#nav .navbar-toggle:hover,#nav .navbar-toggle:focus {
  background: transparent;
}

#nav .navbar-toggle .icon-bar {
  background: #a51421;
}

#main {
  position: relative;
}

.main-carousel .carousel-control {
  width: 43px;
  height: 43px;
  top: 50%;
  margin-top: -20px;
  left: 15px;
  opacity: 1;
  background: none;
  filter: none;
}

.main-carousel .carousel-control.right {
  left: auto;
  right: 15px;
}

.content-wrap {
  padding: 40px 15px;
}

.latest-news .news-list li {
  position: relative;
  padding-left: 18px;
  margin-bottom: 15px;
}

.latest-news .news-list li:before {
  content: "";
  width: 6px;
  height: 6px;
  background: #a51421;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 6px;
}

.report-box .img-holder {
  float: left;
  margin-right: 25px;
  margin-top: 7px;
  max-width: 164px;
}

.report-box .description {
  overflow: hidden;
}

#footer {
  border-top: 1px solid #000;
  margin: 0 15px;
  padding: 32px 0;
  color: #000;
  font-size: 12px;
}

#footer .facebook {
  float: right;
}

.footer-links {
  font-weight: 600;
  padding-top: 20px;
}

.footer-links li {
  padding-left: 8px;
  padding-right: 8px;
}

.footer-links a {
  color: #000;
}

.footer-links a:hover,.footer-links a:focus {
  color: #a51421;
}

.copyright {
  display: block;
  font-weight: 600;
}

@media (max-width: 991px) {
  #nav .navbar-nav {
    padding-top: 1px;
    text-align: center;
    float: none !important;
    margin: 7.5px -15px;
  }

  #nav .navbar-nav > li {
    float: none;
  }

  #nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nav .navbar-toggle {
    display: block;
  }

  #nav .navbar-header {
    float: none;
  }

  #nav .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  #nav .navbar-collapse.collapse {
    display: none !important;
  }

  #nav .navbar-collapse.collapse.in {
    display: block !important;
  }

  #nav .collapsing {
    overflow: hidden !important;
  }
}

@media (max-width: 767px) {
  .custom-list {
    padding-left: 0;
  }

  #header .phone-info {
    top: 163px;
    right: auto;
    left: 15px;
  }

  #nav .navbar-brand {
    display: block;
    float: none;
    text-align: center;
    max-width: 183px;
    margin: 0 auto;
  }

  #nav .navbar-toggle {
    margin-top: 165px;
    margin-bottom: 20px;
  }

  .content-wrap {
    text-align: center;
  }

  .latest-news {
    margin-top: 20px;
  }

  .latest-news .news-list li {
    padding-left: 0;
  }

  .latest-news .news-list li:before {
    display: inline-block;
    vertical-align: top;
    position: static;
    margin: 8px 8px 0 0;
  }

  .report-box .img-holder {
    float: none;
    margin: 0 auto 20px;
  }

  #footer {
    text-align: center;
  }

  #footer .facebook {
    float: none;
  }
}
